{% load static %}
{% load authtags %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mercurytide url metadata scraper">

    <title>AVRSE Auth // {% block title %}{% endblock %}</title>

    <!-- CSS -->
    {% if request.session.theme == "darkly" %}
    <link href="{% static 'eveauth/css/darkly.min.css' %}" rel="stylesheet">
    {% else %}
    <link href="{% static 'eveauth/css/flatly.min.css' %}" rel="stylesheet">
    {% endif %}
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">AVRSE Auth</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% if request.user.is_authenticated %}
            <!-- <li class="active"><a href="">asd</a></li> -->
            <li><a href="{% url 'services' %}">Services</a></li>
              {% if request.user|has_group:"admin" %}
              <li><a href="{% url 'templink_index' %}">Templink</a></li>
              <li><a href="{% url 'registeredusers_index' 1 %}">Registered Users</a></li>
              <li><a href="{% url 'mumbleadmin_index' %}">Mumble Admin</a></li>
              {% endif %}
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              {% if not request.user.is_authenticated %}
              <a href="{% url 'social:begin' 'eveonline' %}">
                <img style="margin-top: -5px; margin-bottom: -10px;" src="{% static 'eveauth/img/EVE_SSO_Login_Buttons_Small_Black.png' %}">
              </a>
              {% else %}
              <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{ request.user.first_name }} {{ request.user.last_name }} <span class="caret">
              </a>
              <ul class="dropdown-menu">
                {% if request.session.theme == "darkly" %}
                <li><a href="{% url 'toggle_theme' %}">Light Mode</a></li>
                {% else %}
                <li><a href="{% url 'toggle_theme' %}">Dark Mode</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
              </ul>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-{{ message.tags }}">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>

    <script src="{% static 'eveauth/js/jquery.min.js' %}"></script>
    <script src="{% static 'eveauth/js/bootstrap.min.js' %}"></script>
  </body>
</html>
