{% extends 'eveauth/base.html' %}
{% load static %}
{% load authtags %}

{% block title %}Characters{% endblock %}


{% block content %}
<div class="row">
  <div class="col-sm-6">
    <h2>Characters</h2>
  </div>

  <div class="col-sm-6">
    <a class="btn btn-success pull-right" href="{% url 'user_updategroups_all' %}">
      <span class="glyphicon glyphicon-refresh"></span>
      Refresh All
    </a>
  </div>
</div>
<hr />

<table class="table table-striped">
  <tr>
    <th><a href="{% url 'characteradmin_index' page=1 order_by='owner' %}">Owner</a></th>
    <th><a href="{% url 'characteradmin_index' page=1 order_by='name' %}">Name</a></th>
    <th><a href="{% url 'characteradmin_index' page=1 order_by='corp' %}">Corp</a></th>
    <th><a href="{% url 'characteradmin_index' page=1 order_by='alliance' %}">Alliance</a></th>
    <th><a href="{% url 'characteradmin_index' page=1 order_by='ship' %}">Ship</a></th>
    <!-- <th><a href="{% url 'characteradmin_index' page=1 order_by='ship_type' %}">Ship Type</a></th>-->
    <th><a href="{% url 'characteradmin_index' page=1 order_by='system' %}">System</a></th>
    <th><a href="{% url 'characteradmin_index' page=1 order_by='region' %}">Region</a></th>
  </tr>

  {% for char in characters %}
  <tr>
    <td>
      {% ifchanged %}
      <img width="24" height="24" style="border-radius: 50%; margin-top: -12px; margin-bottom: -11px;" src="//imageserver.eveonline.com/Character/{{ char.owner.profile.character_id }}_32.jpg">
      {{ char.owner.profile.character.name }}
      {% endifchanged %}
    </td>
    <td>
      <img width="24" height="24" style="border-radius: 50%; margin-top: -12px; margin-bottom: -11px;" src="//imageserver.eveonline.com/Character/{{ char.id }}_32.jpg">
      {{ char.name }}
    </td>
    <td>
      <img width="24" height="24" style="border-radius: 50%; margin-top: -12px; margin-bottom: -11px;" src="//imageserver.eveonline.com/Corporation/{{ char.corp_id }}_32.png">
      {{ char.corp.ticker }}
    </td>
    <td>
      {% if char.alliance %}
      <img width="24" height="24" style="border-radius: 50%; margin-top: -12px; margin-bottom: -11px;" src="//imageserver.eveonline.com/Alliance/{{ char.alliance_id }}_32.png"> {{ char.alliance.ticker }}
      {% endif %}
    </td>
    <td>{{ char.ship.name|truncatechars:16 }}</td>
    <!-- <td>{{ char.ship.group.name }}</td> -->
    <td>{{ char.system.name }}</td>
    <td>{{ char.system.region.name }}</td>
  </tr>
  {% endfor %}
</table>

<div align="center">
  {% if characters.has_other_pages %}
  <ul class="pagination">
    {% if characters.has_previous %}
      <li><a href="{% url 'characteradmin_index' page=characters.previous_page_number order_by=order_by %}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in characters.paginator.page_range %}
      {% if characters.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="{% url 'characteradmin_index' page=i order_by=order_by %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if characters.has_next %}
      <li><a href="{% url 'characteradmin_index' page=characters.next_page_number order_by=order_by %}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
{% endblock %}
