{% extends 'eveauth/base.html' %}
{% load static humanize authtags %}

{% block title %}Characters{% endblock %}

{% block extra_js %}
$(function () {
  $('[data-toggle="tooltip"]').tooltip({html: true})
})
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-sm-9">
    <h2>Characters</h2>
  </div>

  <div class="col-sm-3">
    <a class="btn btn-lg btn-block btn-primary" href="{% url 'social:begin' 'character_auth' %}">Connect</a>
  </div>
</div>
<hr />

<div class="row">
  {% for character in characters %}
  <div class="col-md-3 col-sm-4 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="{% url 'characters_view' character.id %}" style="text-decoration: underline;">
          <strong>{{ character.name }}</strong>
        </a>
        <span style="margin-top: 3px;" class="pull-right">
          {% if character.are_scopes_updated %}
          <span title="ESI scopes are up-to-date" data-toggle="tooltip" data-placement="top" class="text-success">
          {% else %}
          <span title="Missing Scopes:{% for scope in character.missing_scopes %}<br />{{ scope }}{% endfor %}" data-toggle="tooltip" data-placement="top" class="text-warning">
          {% endif %}
            <i class="fas fa-square"></i>
          </span>
        </span>
      </div>

      <a href="{% url 'characters_view' character.id %}">
        <div style="
          min-height: 260px;
          background-size: cover;
          background-image: url('https://imageserver.eveonline.com/Character/{{ character.id }}_512.jpg');
          padding: 5px;
        ">
          <div><img src="https://imageserver.eveonline.com/Corporation/{{ character.corp_id }}_64.png"></div>
          {% if character.alliance %}
          <div><img src="https://imageserver.eveonline.com/Alliance/{{ character.alliance_id }}_64.png"></div>
          {% endif %}
        </div>
      </a>

      <li class="list-group-item" style="padding: 0px;">
        <div class="progress progress-striped" style="margin-bottom: 0px; border-radius: 0px; height: 30px;">
          {% with skill=character.training_skills.all.0 %}
            {% if skill.ends %}
              <div class="progress-bar progress-bar-success" style="width: {{ skill.percentage_complete }}%;"></div>
                <div style="position: absolute; width: 100%; padding: 4px 8px;">
                <span class="text-primary">{{ skill.type.name }} {{ skill.training_to_level|roman }} - {{ skill.time_left.total_seconds|time }}</span>
              </div>
            {% endif %}
          {% endwith %}
        </div>
      </li>

      <ul class="list-group">
        <li class="list-group-item">
          {{ character.corp.name }}
        </li>

        <li class="list-group-item">
          {% if character.alliance %}
          {{ character.alliance.name }}
          {% else %}
          N/A
          {% endif %}
        </li>

        <li class="list-group-item">
          {{ character.system.name }} - {{ character.ship.name }}
        </li>

        <li class="list-group-item">
          {% if character.has_fatigue %}
          {{ character.fatigue|fatiguetime }}
          {% else %}
          No Jump Fatigue
          {% endif %}
        </li>

        <li class="list-group-item">
          {{ character.total_sp|intcomma }} SP
        </li>

        <li class="list-group-item">
          {{ character.wallet|intcomma }} ISK
        </li>

        <li class="list-group-item">
          <a href="{% url 'characters_delete' character.id %}" class="btn btn-block btn-sm btn-danger">Disconnect</a>
        </li>
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
