{% extends 'eveauth/base.html' %}
{% load static humanize authtags %}

{% block title %}Characters{% endblock %}


{% block content %}
<div class="row">
  <div class="col-sm-9">
    <h2>Characters</h2>
  </div>

  <div class="col-sm-3">
    <a class="btn btn-lg btn-block btn-primary" href="{% url 'social:begin' 'character_auth' %}">Connect</a>
  </div>
</div>
<hr />

<div class="row">
  {% for character in characters %}
  <div class="col-md-3 col-sm-4 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="{% url 'characters_view' character.id %}" style="text-decoration: underline;">
          <strong>{{ character.name }}</strong>
        </a>
      </div>

      <a href="{% url 'characters_view' character.id %}">
        <div style="
          min-height: 260px;
          background-size: cover;
          background-image: url('https://imageserver.eveonline.com/Character/{{ character.id }}_512.jpg');
          padding: 5px;
        ">
          <div><img src="https://imageserver.eveonline.com/Corporation/{{ character.corp_id }}_64.png"></div>
          {% if character.alliance %}
          <div><img src="https://imageserver.eveonline.com/Alliance/{{ character.alliance_id }}_64.png"></div>
          {% endif %}
        </div>
      </a>

      <ul class="list-group">
        <li class="list-group-item">
          {{ character.corp.name }}
        </li>

        <li class="list-group-item">
          {% if character.alliance %}
          {{ character.alliance.name }}
          {% else %}
          N/A
          {% endif %}
        </li>

        <li class="list-group-item">
          {{ character.system.name }} - {{ character.ship.name }}
        </li>

        <li class="list-group-item">
          {% if character.has_fatigue %}
          {{ character.fatigue|fatiguetime }}
          {% else %}
          No Jump Fatigue
          {% endif %}
        </li>

        <li class="list-group-item">
          {{ character.total_sp|intcomma }} SP
        </li>

        <li class="list-group-item">
          {{ character.wallet|intcomma }} ISK
        </li>

        <li class="list-group-item">
          <a href="{% url 'characters_delete' character.id %}" class="btn btn-block btn-sm btn-danger">Disconnect</a>
        </li>
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
