{% extends 'eveauth/base.html' %}
{% load static mathfilters %}

{% block title %}Corp Audit{% endblock %}

{% block extra_js %}
var app = new Vue({
  el: '#app',
  data: {}
})
{% endblock %}


{% block content %}
<h2>Corp Audit</h2>
<hr />

<div id="app">
  <form method="GET">
    <input name="search" type="text" class="form-control" value="{{ search }}" placeholder="Corporation Name (Hit enter to search)">
    <br />

    <div class="list-group">
      {% for corp in corps %}
      <a href="#" class="list-group-item">
        <img style="float: left; margin-right: 8px;" width="43" src="https://imageserver.eveonline.com/Corporation/{{ corp.id }}_64.png">
        <h4 class="list-group-item-heading">{{ corp.name }}</h4>
        <p class="list-group-item-text">{{ corp.chars }}/{{ corp.members }} characters ({{ 100|div:corp.members|mul:corp.chars|floatformat:1 }} %)</p>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
