{% extends 'eveauth/base.html' %}
{% load bootstrap3 %}

{% block title %}Edit {{ name }}{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        {% bootstrap_formset_errors formset %}
        <h3>Edit {{ name }}</h3>
    </div>

    <div class="col-md-12">
        <form method="POST">
            {% csrf_token %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        {% for field in formset.0 %}
                            {% if field.name != "id" %}
                                <th>{{ field.label }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset %}
                        <tr>
                            {% for field in form %}
                                {% if field.name != "id" %}
                                    <td>{% bootstrap_field field show_label=False form_group_class="" %}</td>
                                {% else %}
                                    {% bootstrap_field field show_label=False form_group_class="" %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-4">
                    {% bootstrap_button content="Delete" name="delete" button_type="submit" extra_classes="btn-block" button_class="btn-danger" %}
                </div>
                <div class="col-md-4">
                    {% bootstrap_button content="Save" button_type="submit" extra_classes="btn-block" button_class="btn-primary" %}
                </div>
                <div class="col-md-4">
                    {% bootstrap_button content="Save and Close" name="save_and_close" button_type="submit" extra_classes="btn-block" button_class="btn-primary" %}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}