{% extends 'eveauth/base.html' %}
{% load static %}
{% load authtags %}

{% block title %}Groups{% endblock %}


{% block content %}
<div class="row">
  <div class="col-md-6">
    <h2>Group Admin</h2>
  </div>

  <div class="col-md-6">
    <a class="btn btn-primary pull-right" href="{% url 'groupadmin_create' %}">Create</a>
  </div>
</div>
<hr />

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Members</th>
    <th>Apps</th>
    <th>Open Group</th>
    <th>Can Apply</th>
    <th>Send to Mumble</th>
    <th>Send to Forum</th>
    <th>Send to Discord</th>
    <th></th>
  </tr>

  {% for group in groups %}
  <tr>
    <td>
      <a href="{% url 'groupadmin_edit' group.id %}">{{ group.name }}</a>
    </td>
    <td>{{ group.user_set.count }}</td>
    <td>{{ group|outstandingapps }}</td>
    <td>{{ group.details.is_open|yesno }}</td>
    <td>{{ group.details.can_apply|yesno }}</td>
    <td>{{ group.details.mumble|yesno }}</td>
    <td>{{ group.details.forum|yesno }}</td>
    <td>{{ group.details.discord|yesno }}</td>
    <td>
      {% if group.name != "admin" %}
      <a class="btn btn-danger btn-xs" href="{% url 'groupadmin_delete' group.id %}">Delete</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
