{% extends 'eveauth/base.html' %}
{% load static %}

{% block title %}View Ship{% endblock %}


{% block content %}
<h2>View Ship: {{ ship.type.name }} - <i>{{ ship.name }}</i></h2>
<hr />

{% with highs=ship.highs mids=ship.mids lows=ship.lows rigs=ship.rigs subs=ship.subs mods=ship.mods  %}
<div id="Fitting_Panel" style="position: relative; height:398px; width:398px; z-index: 3">
  <div id="mask" style="position:absolute; left: 0px; top: 0 px; width:398px; height:398px; z-index:-1;">
    <img style="position:absolute; left: 0px; top: 0px;  height:398px; width:398px; border:0px" src="//zkillboard.com/img/panel/tyrannis.png" alt="">
  </div>

  {% for mod in mods %}
    {% if mod %}
    <div id="{{ mod.div_id }}" style="{{ mod.style }}">
      <a data-toggle="tooltip" title="{{ mod.type.name }}">
        <img src="https://imageserver.eveonline.com/Type/{{ mod.type.id }}_32.png" style="height: 32px; width: 32px;" alt="{{ mod.type.name }}">
      </a>
    </div>
    {% endif %}
  {% endfor %}

  <div id="highx" style="position:absolute; left: 0px; top: 0px; width: 398px; height: 398px; z-index:-1;">
    <img src="//zkillboard.com/img/panel/{{ highs|length }}h.png" alt="" style="border:0px;">
  </div>
  <div id="midx" style="position:absolute; left: 0px; top: 0px; width: 398px; height: 398px; z-index:-1;">
    <img src="//zkillboard.com/img/panel/{{ mids|length }}m.png" alt="" style="border:0px;">
  </div>
  <div id="lowx" style="position:absolute; left: 0px; top: 0px; width: 398px; height: 398px; z-index:-1;">
    <img src="//zkillboard.com/img/panel/{{ lows|length }}l.png" alt="" style="border:0px;">
  </div>
  <div id="rigxx" style="position:absolute; left: 0px; top: 0px; width: 398px; height: 398px; z-index:-1;">
    <img src="//zkillboard.com/img/panel/{{ rigs|length }}r.png" alt="" style="border:0px;">
  </div>
  <div id="subx" style="position:absolute; left: 0px; top: 0px; width: 398px; height: 398px; z-index:-1;">
    <img src="//zkillboard.com/img/panel/{{ subs|length }}s.png" alt="" style="border:0px;">
  </div>

  <div id="bigship" style="position:absolute; left:72px; top:71px; width:256px; height:256px; z-index:-2;">
    <img src="https://imageserver.eveonline.com/Render/{{ ship.type.id }}_256.png" style="height: 256px; width: 256px;" class="eveimage img-rounded" alt="Avatar">
  </div>
</div>

{% endwith %}
{% endblock %}

{% block extra_js %}
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
{% endblock %}
