{% extends 'eveauth/base.html' %}
{% load static authtags %}

{% block title %}Structures{% endblock %}

{% block extra_js %}
$('[data-toggle="tooltip"]').tooltip({html: true})
{% endblock %}


{% block content %}
<h2>Structures</h2>
<h3><img src="//imageserver.eveonline.com/Corporation/{{ corp.id }}_32.png"> {{ corp.name }} [{{ corp.ticker }}]</h3>
<hr />

<div>

  <table class="table table-striped table-condensed">
    <tr>
      <th>Region</th>
      <th>Structure</th>
      <th>Type</th>
      <th>Services</th>
      <th>State</th>
      <th>Fuel Expires</th>
    </tr>

    {% for structure in structures %}
    <tr>
      <th>{% ifchanged %}{{ structure.system.region.name }}{% endifchanged %}</th>
      <td>
        <img width="24" height="24" style="border-radius: 50%; margin-top: -12px; margin-bottom: -11px;" src="//imageserver.eveonline.com/Type/{{ structure.type_id }}_32.png">
        {{ structure.station.name }}
      </td>
      <td>{{ structure.type.name }}</td>
      <td>
        {% if structure.service_count > 0 %}
        <span data-toggle="tooltip" data-placement="top" title="{% for service in structure.services.all %}{{ service.name }}: {{ service.state|servicestate|safe }}<br />{% endfor %}">
          {{ structure.service_count }}
        </span>
        {% endif %}
      </td>
      <td>
        <span {% if "reinforce" in structure.state %}class="text-danger"{% endif %}>
        {{ structure.state|beautify|title }}
        </span>
      </td>
      <td>
        {% if structure.fuel_expires == None %}
        <span class="text-warning"><i>Low Power</i></span>
        {% else %}
        {{ structure.fuel_expires }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
