{% extends 'eveauth/base.html' %}
{% load static mathfilters %}

{% block title %}Structures{% endblock %}


{% block content %}
<h2>Structures</h2>
<hr />

<div class="row">
  <div class="col-md-6">
    <table class="table table-striped table-condensed">
      <tr>
        <th>Region</th>
        <th>System</th>
        <th>Structures</th>
      </tr>

      {% for system in systems %}
      <tr>
        <td>
          {% ifchanged %}{{ system.region.name }}{% endifchanged %}
        </td>
        <td>
          <img width="24" height="24" style="border-radius: 50%; margin-top: -12px; margin-bottom: -11px;" src="//imageserver.eveonline.com/Type/{{ system.sun_id }}_32.png">
          <a href="{% url 'structures_list' system.id '' %}">{{ system.name }}</a>
        </td>
        <td>{{ system.structure_count }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="col-md-6">
    <table class="table table-striped table-condensed">
      <tr>
        <th>Region</th>
        <th>Structures</th>
      </tr>

      {% for corp in corps %}
      <tr>
        <td>
          <img width="24" height="24" style="border-radius: 50%; margin-top: -12px; margin-bottom: -11px;" src="//imageserver.eveonline.com/Corporation/{{ corp.id }}_32.png">
          <a href="{% url 'structures_list' corp.id '' %}">{{ corp.name }} [{{ corp.ticker }}]</a>
        </td>
        <td>{{ corp.structure_count }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
