{% extends 'eveauth/base.html' %}
{% load static authtags %}

{% block title %}Structures{% endblock %}

{% block extra_js %}
$('[data-toggle="tooltip"]').tooltip({html: true})
{% endblock %}


{% block content %}
<h2><a href="{% url 'structures_index' %}">Structures</a></h2>
<h3><img style="border-radius: 50%;" src="//imageserver.eveonline.com/Type/{{ system.sun_id }}_32.png"> {{ system.name }} ({{ system.region.name }})</h3>
<hr />

<div>

  <table class="table table-striped table-condensed">
    <tr>
      <th><a href="{% url structures_list system.id '' %}">Corporation</a></th>
      <th><a href="{% url structures_list system.id 'name' %}">Structure</a></th>
      <th><a href="{% url structures_list system.id 'type' %}">Type</a></th>
      <th><a href="{% url structures_list system.id 'services' %}">Services</a></th>
      <th><a href="{% url structures_list system.id 'state' %}">State</a></th>
      <th><a href="{% url structures_list system.id 'fuel' %}">Fuel Expires</a></th>
      <th><div align="center">Fuel Pings</div></th>
    </tr>

    {% for structure in structures %}
    <tr>
      <th>
        {% ifchanged %}
          <img width="24" height="24" style="border-radius: 50%; margin-top: -12px; margin-bottom: -11px;" src="//imageserver.eveonline.com/Corporation/{{ structure.corporation.id }}_32.png">
          {{ structure.corporation.ticker }}
        {% endifchanged %}
      </th>
      <td>
        <img width="24" height="24" style="border-radius: 50%; margin-top: -12px; margin-bottom: -11px;" src="//imageserver.eveonline.com/Type/{{ structure.type_id }}_32.png">
        {{ structure.station.name }}
      </td>
      <td>{{ structure.type.name }}</td>
      <td>
        {% if structure.service_count > 0 %}
        <span data-toggle="tooltip" data-placement="top" title="{% for service in structure.services.all %}{{ service.name }}: {{ service.state|servicestate|safe }}<br />{% endfor %}">
          {{ structure.service_count }}
        </span>
        {% endif %}
      </td>
      <td>
        <span {% if "reinforce" in structure.state %}class="text-danger"{% endif %}>
        {{ structure.state|beautify|title }}
        </span>
      </td>
      <td>
        {% if structure.state_timer_end != None %}
        <span class="text-danger">Timer Exit {{ structure.state_timer_end }}</span>
        {% else %}
          {% if structure.fuel_expires == None %}
          <span class="text-warning"><i>Low Power</i></span>
          {% else %}
          {{ structure.fuel_expires }}
          {% endif %}
        {% endif %}
      </td>
      <td>
        <div align="center">
          <div class="btn-group">
            <a href="{% url 'structures_fuelnotification_toggle' structure.id 'on' %}" class="btn btn-xs {{ structure.fuel_notifications|yesno:"btn-success active,btn-default" }}">
              On
            </a>
            <a href="{% url 'structures_fuelnotification_toggle' structure.id 'off' %}" class="btn btn-xs {{ structure.fuel_notifications|yesno:"btn-default,btn-danger active" }}">
              Off
            </a>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
