{% extends 'eveauth/base.html' %}
{% load static authtags mathfilters timertags %}

{% block title %}Timerboard{% endblock %}


{% block content %}
<h2>Timerboard</h2>
<hr />

<h4>Timers</h4>
<table class="table table-striped">
  <tr>
    <th>Side:</th>
    <th>Timer:</th>
    <th>Owner:</th>
    <th>System:</th>
    <th>Date:</th>
    <th>Time Until:</th>
    <th>Created By:</th>
    <th></th>
  </tr>

  {% if timers|length == 0 %}
    <tr>
      <td colspan="7"><i>No timers to see here</i></td>
    </tr>
  {% endif %}
  {% for timer in timers %}
    <tr>
      <td>{{ timer.get_side_display }}</td>
      <td>{{ timer.structure.name }} {{ timer.get_stage_display }} - <i>{{ timer.name }}</i></td>
      <td>{{ timer.owner }}</td>
      <td>{{ timer.system.name }}</td>
      <td>{{ timer.date }}</td>
      {% if timer.date > now %}
        <td>{{ timer.time_until.total_seconds|time }}</td>
      {% else %}
        <td>Started {{ timer.time_until.total_seconds|mul:-1|time }} ago</td>
      {% endif %}
      <td>{{ timer.created_by.profile.character.name }}</td>
      <td>
        {% if timer|user_can_edit:user %}
        <a class="btn btn-success btn-xs" href="{% url 'timerboard:edit' timer.id %}">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a class="btn btn-danger btn-xs" href="{% url 'timerboard:delete' timer.id %}">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>

<br />
<h4>Archive</h4>
<table class="table table-striped">
  <tr>
    <th>Side:</th>
    <th>Timer:</th>
    <th>Owner:</th>
    <th>System:</th>
    <th>Date:</th>
    <th>Created By:</th>
    <th></th>
  </tr>

  {% if archive|length == 0 %}
    <tr>
      <td colspan="7"><i>No timers to see here</i></td>
    </tr>
  {% endif %}
  {% for timer in archive %}
    <tr>
      <td>{{ timer.get_side_display }}</td>
      <td>{{ timer.structure.name }} {{ timer.get_stage_display }} - <i>{{ timer.name }}</i></td>
      <td>{{ timer.owner }}</td>
      <td>{{ timer.system.name }}</td>
      <td>{{ timer.date }}</td>
      <td>{{ timer.created_by.profile.character.name }}</td>
      <td>
        {% if timer|user_can_edit:user %}
        <a class="btn btn-success btn-xs" href="{% url 'timerboard:edit' timer.id %}">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a class="btn btn-danger btn-xs" href="{% url 'timerboard:delete' timer.id %}">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
