{% extends 'eveauth/base.html' %}
{% load static bootstrap3 %}

{% block title %}Webhooks{% endblock %}


{% block content %}
<h2>Webhooks</h2>
<hr />

<div>
  <table class="table table-striped table-condensed">
    <tr>
      <th>Event</th>
      <th>Ping?</th>
      <th>URL</th>
      <th><div align="center">Active</div></th>
      <th></th>
    </tr>

    {% for webhook in webhooks %}
    <form method="POST">
      {% csrf_token %}

      {% if webhook.instance.id %}
      <input type="hidden" name="id" value="{{ webhook.instance.id }}" />
      {% endif %}

      <tr>
        <td>{% bootstrap_field webhook.event form_group_class="" show_label=False %}</td>
        <td>{% bootstrap_field webhook.notify form_group_class="" show_label=False %}</td>
        <td>{% bootstrap_field webhook.url form_group_class="" show_label=False %}</td>
        <td>
          <div align="center">
            {% bootstrap_field webhook.active form_group_class="" label="" %}
          </div>
        </td>
        <td>
          {% bootstrap_button "Save" button_type="submit" size="md" button_class="btn-primary" %}
          {% if webhook.instance.id %}
            {% bootstrap_button "Delete" button_type="submit" name="delete" value=webhook.instance.id size="md" button_class="btn-danger" %}
          {% endif %}
        </td>
      </tr>
    </form>
    {% endfor %}
  </table>
</div>
{% endblock %}
