{% extends 'eveauth/base.html' %}
{% load static mathfilters %}

{% block title %}Asset Search{% endblock %}

{% block extra_js %}

{% endblock %}


{% block content %}
<h2>Asset Search</h2>
<hr />

<div id="app">
  <table class="table table-striped table-condensed">
    <tr>
      <th>Region</th>
      <th>System</th>
      <th>Owner</th>
      <th>Character</th>
      <th>Ship</th>
    </tr>
  
    {% for asset in assets %}
    <tr>
      <td>
        {% ifchanged asset.system.region %}
        <strong>{{ asset.system.region.name }}</strong>
        {% endifchanged %}
      </td>
      <td>
        {% ifchanged %}
        <img width="24" height="24" style="border-radius: 50%; margin-top: -12px; margin-bottom: -11px;" src="//imageserver.eveonline.com/Type/{{ asset.system.sun_id }}_32.png">
        <strong>{{ asset.system.name }}</strong>
        {% endifchanged %}
      </td>
      <td>
          {% ifchanged asset.system asset.character.owner %}
          <img width="24" height="24" style="border-radius: 50%; margin-top: -12px; margin-bottom: -11px;" src="//imageserver.eveonline.com/Character/{{ asset.character_id }}_32.jpg">
          {{ asset.character.owner.profile.character.name }}
          {% endifchanged %}
        </td>
      <td>
        {% ifchanged asset.system asset.character %}
        <img width="24" height="24" style="border-radius: 50%; margin-top: -12px; margin-bottom: -11px;" src="//imageserver.eveonline.com/Character/{{ asset.character_id }}_32.jpg">
        {{ asset.character.name }}
        {% endifchanged %}
      </td>
      <td>
        <img width="24" height="24" style="border-radius: 50%; margin-top: -12px; margin-bottom: -11px;" src="//imageserver.eveonline.com/Type/{{ asset.type_id }}_32.png">
        {% if asset.singleton %}
          <a href="{% url 'adminassets_viewship' asset.id %}">
            {{ asset.type.name }} {% if asset.name %}- <i>{{ asset.name }}</i>{% endif %}
          </a>
        {% else %}
          {{ asset.type.name }} x{{ asset.quantity }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
